/*main rules*/
body{
    font-family: 'Roboto', sans-serif;
    
}
header h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}
.mep{
    font-weight:400;
}
/*navigation*/
nav ul{
    margin-right:-40px;
}
nav ul li{
    text-transform: capitalize;
    float:right;
    font-weight:400;  
    font-size:30px;
    margin-top:80px;

}
nav ul h3{
    float:left;
}
details ul li{
    font-family: 'Tajawal', serif;
    float:none;
  
       
        padding:2px 0;
        margin:0;
   

}
/*header*/
header h1{
    font-family: 'Tajawal', serif;
    text-align: center;
    font-size:55px;
    margin-top:150px;
}
header p{
    text-align:center;
    
}
.mep{
    font-size: 28px;
}


@media (min-width:992px){
    /*nav*/
    nav ul li{
        margin-top:50px;
        font-size:16px;
        font-family: 'Roboto', sans-serif;
    }
    details ul li{
        font-family: 'Tajawal', serif;
        float:none;
        margin:0;
        
    }
    /*header*/
    .me{
        float:left;
        margin-right:90px;
        margin-left:0;
        
    }
    .header p{
        font-size:18px;
    
    }
    header h1{
        text-align:center;
        text-transform: capitalize;
        font-family: 'Raleway', sans-serif;
        font-size:35px;
    }
    .mep{
        font-size:20px;
    }
    /*gallery*/
    .gimg{
        float:left;
    }
    .current{
        font-size:20px;
        text-align:left;
        padding-left:165px;
    }
}